/* body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.main-container {
  position: relative;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: inherit;
  color: inherit;
  background-color: #111;
  color: #fff;
}

#container-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#container-section > .Header,
#container-section > .Footer,
#container-section > main {
  position: relative;
  z-index: 15;
}

.Header {
  flex-shrink: 0;
}
.Footer {
  flex-shrink: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}

.logo > span {
  text-shadow: 0 0 10px #e67700;
  color: #fcb522;
  font-size: 20px;
}

#particles-js {
  position: absolute;
  z-index: 5;
  top: 0;
  width: 100vw;
  height: inherit;
  filter: contrast(800%) brightness(100%) blur(0.5px);
}
#particles-js > div {
  width: 100%;
  height: 100%;
}

#particles-js canvas {
  width: 100%;
  height: 100%;
  filter: contrast(400%) brightness(500%) drop-shadow(0 0 40px red)
    drop-shadow(0 0 20px red) invert(75%);
}

.ui.menu .item,
.ui.menu .active.item {
  color: #fff;
}
.ui.secondary.menu .active.item {
  color: #fff;
}

.ui.secondary.menu .dropdown.item:hover,
.ui.secondary.menu .link.item:hover,
.ui.secondary.menu a.item:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #cecece;
}

.ui.menu .dropdown.item .menu {
  background: rgba(255, 255, 255, 0.2);
}

.ui.menu .ui.dropdown .menu > .item {
  color: #fff !important;
}

.ui.menu .ui.dropdown .menu > .item:hover {
  color: #cecece !important;
}

.ui.menu .ui.dropdown .menu > .selected.item {
  background: rgba(255, 255, 255, 0.3) !important;
  color: #fff !important;
}

.ui.segment {
  background: rgba(255, 255, 255, 0.1);
}

.title {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Montserrat";
  text-align: center;
  width: 100%;
}
.title h1 {
  position: relative;
  color: #fff;
  font-weight: 100;
  font-size: 90px;
  padding: 0;
  margin: 0;
  line-height: 1;
  /* text-shadow: 0 0 10px #ff006c, 0 0 20px #ff006c, 0 0 30px #ff006c,
    0 0 40px #ff417d, 0 0 70px #ff417d, 0 0 80px #ff417d, 0 0 100px #ff417d,
    0 0 150px #ff417d; */
  text-shadow: 0 0 10px #e67700, 0 0 20px #f08c00, 0 0 30px #f59f00,
    0 0 40px #fab005, 0 0 70px #fcc419, 0 0 80px #ffd43b, 0 0 100px #ffe066,
    0 0 150px #ffec99;
}
.title h1 span {
  font-weight: 600;
  padding: 0;
  margin: 0;
  color: #ffffff;
}
.title h3 {
  font-weight: 200;
  font-size: 20px;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #ffffff;
  letter-spacing: 2px;
}
