.ui.menu .item,
.ui.menu .active.item {
  color: #fff;
}
.ui.secondary.menu .active.item {
  color: #fff;
}

.ui.secondary.menu .dropdown.item:hover,
.ui.secondary.menu .link.item:hover,
.ui.secondary.menu a.item:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #cecece;
}

.ui.menu .dropdown.item .menu {
  background: rgba(255, 255, 255, 0.2);
}

.ui.menu .ui.dropdown .menu > .item {
  color: #fff !important;
}

.ui.menu .ui.dropdown .menu > .item:hover {
  color: #cecece !important;
}

.ui.menu .ui.dropdown .menu > .selected.item {
  background: rgba(255, 255, 255, 0.3) !important;
  color: #fff !important;
}

.ui.segment {
  background: rgba(255, 255, 255, 0.1);
}
